.btn {
    padding: 12px 24px;
    color:var(--text-color);
    font-weight: bold;
    z-index: 6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:414px) {
    .btn {
        font-size: 14px;
    }
}