.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    position: relative;
}

.hero__left__position {
    position: absolute;
    top:-120px;
    left: -500px;
    width: 600px;
    height: 300px;
    z-index: -4;
}

.hero__right__position {
    position: absolute;
    top: -59px;
    right: -400px;
    width: 900px;
    height: 300px;
    z-index: -2;
}

.hero__center__position{
    position: absolute;
    z-index: -1;
    left: 0;
    width: 90%;
    height: 100%;
    top: 0;
}

.hero h1 {
    text-align: center;
    z-index: 5;
    color:white;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 10px;
    
}

.hero p {
    font-size: 20px;
    color: var(--text-color);
    margin: 20px 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-icon {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.play-icon a {
    color: #fff;
    margin-left: 16px;
}

.play-icon a:hover {
    background: linear-gradient(90deg, rgba(58, 58, 255, 1) 0%, rgba(110, 47, 243, 1) 50%, rgba(170, 30, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid purple ;
}

@media screen and (max-width:540px){

    .section__padding {
        padding: 40px 8px;
    }
    
    .hero__content h1 {
        font-size: 32px;
        text-align: center;
        letter-spacing: 0;
    }
    .hero__content p {
        font-size: 12px;
    }
}

@media screen and (max-width:1024px) {
    .hero__content h1 {
        font-size: 60px;
    }
}

@media screen and (max-width:414px) {
    .hero__content h1 {
        font-size: 32px;
    }
}