.collector__card {
    background-color: var(--card-purple);
    border-radius: 16px;
    padding: 16px;
    color: #fff;
    cursor: pointer;
}

.collector__card__profile {
    display: flex;
    align-items: center;
}


.collector__card__profile  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 16px;
}

.collector__card__profile h5 {
    font-size: 18px;
}

.collector__card__infos {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
