.nftcreates {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.nft__create_title {
    text-align: center;
    color: white;
    font-size: 34px;
}

@media screen and (max-width:414px) {
    .nftcreates {
        grid-template-columns: 1fr;
        padding: 16px;
    }
}