.profile__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:50px;
    margin: 80px 0;
}

.topcollections__title{
    color: white;
    font-size: 28px;
}

@media screen and (max-width:414px) {
    .profile__list {
        grid-template-columns:  1fr;
    }
    .topcollections__title {
        text-align: center;
    }
}