.swiper__slide{
    display: flex;
    justify-content: center;
    
}

.slideNfts {
    position: relative;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    background: linear-gradient(90deg, rgba(58, 58, 255, 1) 0%, rgba(110, 47, 243, 1) 50%, rgba(170, 30, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.swiper-pagination-bullet-active{
    background: linear-gradient(90deg, rgba(58, 58, 255, 1) 0%, rgba(110, 47, 243, 1) 50%, rgba(170, 30, 241, 1) 100%) !important;
}
