* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #120731;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.section__padding {
  padding: 100px 0;
}

:root {
  --bg-color:#120731;
  --purple-color:#21154b;
  --light-purple:#423c8a;
  --morelight-purple:#5b50c7;
  --pink-color:#b040b0;
  --vine-color:#5a1d62;
  --card-purple:rgba(53,41,89,0.7);
  --text-color:#fcf8ff;
}

.btn__gradient {
  background: linear-gradient(90deg, rgba(58, 58, 255, 1) 0%, rgba(110, 47, 243, 1) 50%, rgba(170, 30, 241, 1) 100%);
}

.color__gradient {
  background: linear-gradient(90deg, rgba(58, 58, 255, 1) 0%, rgba(110, 47, 243, 1) 50%, rgba(170, 30, 241, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink__gradient{
  background: radial-gradient(circle at 50% 50%, rgba(191, 68, 207, 1) 0%, rgba(70, 44, 109, 1) 50%);
  filter: blur(100px);

}

.purple__gradient{
  background: radial-gradient(circle at 50% 50%, rgba(144, 121, 253, 1) 0%, rgba(70, 44, 109, 1) 50%);
  filter: blur(80px);

}

.blue__gradient {
  background: radial-gradient(circle at 50% 50%, rgb(96, 155, 190) 0%, rgb(58, 36, 105) 50%, rgba(22, 26, 67, 1) 100%);
  filter: blur(80px);

}

.lightblue__gradient {
  background: radial-gradient(circle at 50% 50%, rgb(96, 155, 190) 0%, rgb(58, 36, 105) 50%, rgb(47, 53, 122) 100%);
  filter: blur(80px);
}

